<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" authCookieName=".SFAUTH-SitefinityPowerHour" rolesCookieName=".SFROLES-SitefinityPowerHour" validationKey="769CD1A651D2607EAC80D8AAF40807D9C516F0727898840A8B1DBC204DAD74D6162DA9FAC01208A70ACE823753BC5D80193477EA61AC9E42FD20ACF1F343FE5D" decryptionKey="917956DF53001E3C68B03A921751780787B5A2A8084E0FDE7EF290D965E37750" loggingCookieName=".SFLOG-SitefinityPowerHour">
	<securityTokenIssuers>
		<add key="070AFAC0D4F1C0A018273A28DA38BC4374194D0FACE549FFA72152309703B403" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="070AFAC0D4F1C0A018273A28DA38BC4374194D0FACE549FFA72152309703B403" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="080f8d3b-0404-4510-910c-2e49f2d8537c" name="Everyone" config:flags="1" />
		<role id="3a259941-2f8f-46ec-ba14-7b8c4e22c47d" name="Anonymous" config:flags="1" />
		<role id="e2bf2563-43ee-4a43-bc0a-f9b5c630b06b" name="Authenticated" config:flags="1" />
		<role id="41d3a07d-cb32-48c2-bbe8-87aa620eef84" name="Owner" config:flags="1" />
		<role id="d4957d4c-ced3-4dfc-b0ad-1ae50ab3402a" name="Administrators" config:flags="1" />
		<role id="2ec318e5-6159-473f-81fc-e5974abf409a" name="BackendUsers" config:flags="1" />
		<role id="b0d93e47-9e79-4733-a835-c4df797dd13b" name="Authors" config:flags="1" />
		<role id="02d12f4b-3e0c-47b1-8d97-7ad9128d9226" name="Editors" config:flags="1" />
		<role id="b4d5a4b6-2b66-42f7-96a9-389891deeaf0" name="Designers" config:flags="1" />
		<role id="0a8f3d7f-60ae-4e63-bf18-e25cfe378218" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>