<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0">
	<applicationModules>
		<add startupType="Disabled" name="News" config:flags="1" />
		<add startupType="Disabled" name="Blogs" config:flags="1" />
		<add startupType="Disabled" name="Events" config:flags="1" />
		<add startupType="Disabled" name="Forms" config:flags="1" />
		<add startupType="Disabled" name="Lists" config:flags="1" />
		<add startupType="Disabled" name="Publishing" config:flags="1" />
		<add startupType="Disabled" name="Forums" config:flags="1" />
		<add startupType="Disabled" name="Comments" config:flags="1" />
	</applicationModules>
	<cacheManagers>
		<add startScavengingAfterItemCount="10000" whenScavengingRemoveItemCount="100" name="MarketoConnectorCache" />
	</cacheManagers>
</systemConfig>